<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BPUSH_CHANNEL</key>
	<string>welinksoft</string>
	<key>PRODUCTION_MODE</key>
	<false/>
	<key>DEBUG</key>
	<true/>
	<key>API_KEY</key>
	<string>8X4yc6khsIE7O3D5xgImxH2h</string>
</dict>
</plist>
